
.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}
h1, h2, h3, h4, h5, h6 
{
 font-family: 'Roboto Slab', serif;
}
#score-btn{
	margin-left:5px;
	
}

.navbar-brand{
	font-family: 'Indie Flower', cursive;
}
#score-btn1{
	margin-left:5px;
	margin-top: 3px;
	
}
#margin-left-5px{margin-left:10px;}

label{
	float:left;
}